<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid">
    <div
      class="collapse navbar-collapse container-all"
      id="navbarSupportedContent"
    >
      <ul class="nav navbar-nav">
        <li><a routerLink="/cars" id="len1" class="hoverable">Home</a></li>
        <li><a id="len2" class="hoverable">About</a></li>
        <li><a id="len2" class="hoverable">Contact</a></li>
        <app-cart-summary></app-cart-summary>

        <ul *ngIf="!isAuthenticated()" class="navbar-nav mr-right">
          <li>
            <a routerLink="/account/login" id="len4" class="hoverable">Login</a>
          </li>
          <li>
            <a routerLink="/account/register" id="len4" class="hoverable"
              >Register</a
            >
          </li>
        </ul>

        <ul *ngIf="isAuthenticated()" class="navbar-nav mr-right">
          <li><a routerLink="/admin" id="len4" class="hoverable">Admin</a></li>
          <li class="nav-item dropdown">
            <a id="len4" class="hoverable dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
              >{{ user?.firstName }}</a
            >
            <ul class="dropdown-menu dropdown-menu-dark">
              <li>
                <a class="dropdown-item">
                  <a  routerLink="/profile" type="button" class="btn btn-info btn-sm">
                    <i class="fa-solid fa-circle-user"></i>
                    Update Information
                  </a>
                </a>
              </li>
            </ul>
          </li>
          <li><a routerLink="/cars" (click)="openModal()" id="len4" class="hoverable">LogOut</a></li>
        </ul>
      </ul>
    </div>
  </div>
</nav>
