<div class="row">
  <div class="col-md-3">
    <app-brand></app-brand>
    <app-color></app-color>
    <app-customer></app-customer>
  </div>
  <div class="col-md-9">
    <div class="box">
      <div class="container">
        <div class="wrapper">
          <div class="row">
            <div class="col-md-6">
              <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                  <div
                    *ngFor="let imageUrl of getImage(cardetail); let i = index"
                    class="carousel-item"
                    [class.active]="i === 0"
                  >
                    <img [src]="imageUrl" class="d-block w-100" alt="..." />
                  </div>
                </div>
                <button
                  *ngIf="getImage(cardetail).length>1"
                  class="carousel-control-prev"
                  type="button"
                  data-bs-target="#carouselExample"
                  data-bs-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button
                  *ngIf="getImage(cardetail).length>1"
                  class="carousel-control-next"
                  type="button"
                  data-bs-target="#carouselExample"
                  data-bs-slide="next"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <!-- <div class="banner-image">
                <img *ngFor="let imageUrl of getImage(cardetail)" [src]="imageUrl" class="card-img-top" alt="..." />
              </div> -->
            </div>
            <div class="col-md-6">
              <h1>{{ cardetail.carName }}</h1>
              <p><i>Brand: </i>{{ cardetail.brandName }}</p>
              <p><i>Color: </i>{{ cardetail.colorName }}</p>
              <p><i>Model Year: </i>{{ cardetail.modelYear }}</p>
              <p><i>Daily Price: </i>{{ cardetail.dailyPrice }}</p>
              <p><i>Price With Vat: </i>{{ cardetail.dailyPrice | vatAdded:18 | currency }}</p>
              <div class="date-wrapper">
                <label for="datepicker">Pick a Rent Date
                  <input [(ngModel)]="rentDate" type="date" id="datepicker" autocomplete="off">
                </label>	
              </div>
              <div class="date-wrapper">
                <label for="datepicker">Pick a Return Date
                  <input [(ngModel)]="returnDate" type="date" id="datepicker" autocomplete="off">
                </label>	
              </div>
              <div class="button-wrapper">
                <button (click)="addToCart(cardetail)" routerLink="/cartDetail/cartItems" class="btn fill">RENT NOW</button>
              </div>
            </div>
          </div>
          <div class="row">
            <p class="desc">
              <i>Description</i><br />
              {{ cardetail.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="rental-message"><h4>{{rentalMessage}}</h4></div>
    <app-rental></app-rental>
  </div>
</div>

