body {
  font-family: 'Roboto', sans-serif!important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainscreen {
  margin-top: 2rem;
  margin-bottom: 3rem;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #DFDBE5;
  background-image: url("https://wallpaperaccess.com/full/3063067.png");
  color: #963E7B;
  position: relative;
}

.card {
  width: 42rem;
  height: auto;
  margin: auto;
  background: white;
  align-self: center;
  border-radius: 1.5rem;
  box-shadow: 4px 3px 20px #3535358c;
  display: flex;
  flex-direction: column;
}

.rightside {
  background-color: #ffffff;
  width: 100%;
  padding: 1rem 2rem 3rem 3rem;
  border-radius: 1.5rem;
}

p {
  font-size: 1.1rem;
  font-weight: 400;
  margin: .8rem 0;
}

.inputbox {
  color: #030303;
  width: 100%;
  padding: 0.3rem;
  border: none;
  border-bottom: 1.5px solid #ccc;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  font-family: 'Roboto', sans-serif;
  color: #615a5a;
  font-size: 1.1rem;
  font-weight: 500;
  outline: none;
}

.expcvv {
  display: flex;
}

.expcvv_text, .expcvv_text2 {
  margin: 10px;
  white-space: nowrap;
}

/* input[type="date"], input[type="password"] {
  width: 50%;
  margin-bottom: 1rem;
} */

.form-checkbox {
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.form-checkbox input {
  margin-right: 10px;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.button:hover {
  background-color: #218838;
}

.button {
  background: linear-gradient(135deg, #753370 0%, #298096 100%);
  padding: 15px;
  border: none;
  border-radius: 50px;
  color: white;
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 10px;
  width: 100%;
  letter-spacing: .11rem;
  outline: none;
}

.button:hover {
  transform: scale(1.05) translateY(-3px);
  box-shadow: 3px 3px 6px #38373785;
}

@media only screen and (max-width: 1000px) {
  .card {
      flex-direction: column;
      width: auto;
  }

  .rightside {
      width: auto;
      padding: 0.5rem 3rem 3rem 2rem;
      border-radius: 0;
  }
}
