<div class="mainscreen">
  <div class="card">
    <div class="rightside">
      <form [formGroup]="payFormGroup">
        <h1>CheckOut</h1>
        <h2>Payment Information</h2>
        <p>Cardholder Name</p>
        <input
          class="form-control"
          formControlName="fullName"
          type="text"
          class="inputbox"
          name="name"
          required
        />
        <div
        *ngIf="fullName && fullName.invalid && (fullName.dirty || fullName.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="fullName.errors?.['required']">Full Name is required.</div>
        <div *ngIf="fullName.errors?.['minlength']">FullName must be at least 5 characters long.</div>
      </div>
        <p>Card Number</p>
        <input
          class="form-control"
          formControlName="cardNumber"
          type="number"
          class="inputbox"
          name="card_number"
          id="card_number"
          required
        />
        <div
        *ngIf="cardNumber && cardNumber.invalid && (cardNumber.dirty || cardNumber.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="cardNumber.errors?.['required']">Card Number is required.</div>
        <div *ngIf="cardNumber.errors?.['minlength']">Card Number must be 16 characters long.</div>
      </div>
        <p>Card Type</p>
        <select formControlName="cardType" class="inputbox" name="card_type" id="card_type" required>
          <option value="">--Select a Card Type--</option>
          <option value="Visa">Visa</option>
          <option value="RuPay">RuPay</option>
          <option value="MasterCard">MasterCard</option>
        </select>
        <div class="expcvv">
          <p class="expcvv_text">Expiry</p>
          <input
            class="form-control"
            formControlName="expiry"
            type="date"
            class="inputbox"
            name="exp_date"
            id="exp_date"
            required
          />
          <div
        *ngIf="expiry && expiry.invalid && (expiry.dirty || expiry.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="expiry.errors?.['required']">Expiry Date is required.</div>
      </div>
          <p class="expcvv_text2">CVV</p>
          <input
            class="form-control"
            formControlName="cvv"
            type="password"
            class="inputbox"
            name="cvv"
            id="cvv"
            required
          />
          <div
        *ngIf="cvv && cvv.invalid && (cvv.dirty || cvv.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="cvv.errors?.['required']">CVV is required.</div>
        </div>
      </div>
        <p></p>
        <button (click)="pay()" type="submit" class="button">
          Complete Pay
        </button>
      </form>
      <div class="form-checkbox">
        <input type="checkbox" [(ngModel)]="saveCard" name="saveCard">
        <label>Save this card</label>
      </div>
      <div class="form-checkbox">
        <input type="checkbox" [(ngModel)]="payWithSaveCard" (ngModelChange)="onCheckboxChange($event)" name="payWithSaveCard">
        <label>Pay with already saved card</label>
      </div>
      <table *ngIf="savedPayments.length>0 && payWithSaveCard">
        <thead>
          <td>FullName</td>
          <td>CardNumber</td>
          <td>Expiry Date</td>
          <td>CVV</td>
        </thead>
        <tbody>
          <div *ngFor="let payment of savedPayments">
            <td>{{payment.fullName}}</td>
            <td>{{payment.cardNumber}}</td>
            <td>{{payment.expiry}}</td>
            <td>{{payment.cvv}}</td>
          </div>
        </tbody>
      </table>

    </div>
  </div>
</div>

