<div class="modal-content-wrapper">
  <div class="card">
    <div class="card-header">
      <h5 class="title">Update Brand</h5>
    </div>
    <div class="card-body">
      <form [formGroup]="brandUpdateForm">
        <div class="form-group mb-3">
          <label for="brandName">Brand Name</label>
          <input
            type="text"
            id="brandName"
            formControlName="brandName"
            class="form-control"
          />
        </div>
        <div
          *ngIf="brandName && brandName.invalid && (brandName.dirty || brandName.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="brandName.errors?.['required']">Brand Name is required.</div>
          <div *ngIf="brandName.errors?.['minlength']">
            Brand Name must be at least 3 characters long.
          </div>
          <div *ngIf="brandName.errors?.['maxlength']">
            Brand Name must be at most 20 characters long.
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button class="btn btn-fill btn-info" (click)="closeModal()">
        Go Back
      </button>
      <button class="btn btn-fill btn-success" (click)="update()">Update</button>
    </div>
  </div>
</div>


