<div class="modal-content-wrapper">
  <div class="card">
    <div class="card-header">
      <h5 class="title">Add Car Image</h5>
    </div>
    <div class="card-body">
      <form [formGroup]="carImageUpdateForm">
        <div class="form-group mb-3">
          <label for="carId">Car Id</label>
          <input
            type="text"
            id="carId"
            formControlName="carId"
            class="form-control"
          />
        </div>
          <label>Image</label>
          <input type="file" (change)="onFileChange($event)" />
      </form>
    </div>
    <div class="card-footer">
      <button class="btn btn-fill btn-info" (click)="closeModal()">
        Cancel
      </button>
      <button class="btn btn-fill btn-success" (click)="update()">Update</button>
    </div>
  </div>
</div>









