<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<a href="https://front.codes/" class="logo" target="_blank">

</a>

<div class="section">
    <div class="container">
        <div class="row full-height justify-content-center">
            <div class="col-12 text-center align-self-center py-5">
                <div class="section pb-5 pt-5 pt-sm-2 text-center">
                    <h5 class="mb-0 pb-3"><span>Log In </span></h5>
                    <div class="card-3d-wrap mx-auto">
                        <div class="card-3d-wrapper">
                            <div class="card-front">
                                <div class="center-wrap">
                                    <div class="section text-center">
                                        <h4 class="mb-4 pb-3">Log In</h4>
                                        <form [formGroup]="loginForm">
                                        <div *ngIf="rememberedEmail">
                                          <h5 class="mb-4 fw-normal text-light" style="display: inline-block; margin-right: 10px;">Hoşgeldiniz</h5>
                                          <span class=" text-light"style="font-size:18px"><span>{{rememberedEmail}}</span></span>
                                        </div>
                                        <div *ngIf="!rememberedEmail" class="form-group">
                                            <input formControlName="email" type="email" name="logemail" class="form-style" placeholder="Your Email" id="logemail" autocomplete="off">
                                            <i class="input-icon uil uil-at"></i>
                                        </div>
                                        <div class="form-group mt-2">
                                            <input formControlName="password" type="password" name="logpass" class="form-style" placeholder="Your Password" id="logpass" autocomplete="off">
                                            <i class="input-icon uil uil-lock-alt"></i>
                                        </div>
                                        <div class="checkbox mb-2 mt-3 text-light">
                                          <label *ngIf="!rememberedEmail">
                                              <input type="checkbox" value="remember-me" [(ngModel)]="rememberMe"
                                              [ngModelOptions]="{standalone: true}"> Remember Email
                                          </label>
                                          <a *ngIf="rememberedEmail" (click)="deleteRememberedEmail()" style="color: white;"
                                              href="/account/login">Sign in with a different account
                                            </a>
                                      </div>
                                        <a (click)="login()" class="btn mt-4">submit</a>
                                      <div class="text-light mt-3" style="font-size:14px">
                                        If you don't have an account? <a routerLink="/account/register"
                                            style="color: var(--firstThemeColor);">Register Now!</a>
                                    </div>
                                      </form>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
    </div>
</div>

