<div class="container mx-auto mt-4">
  <div class="row">
    <div *ngFor="let cardetail of cardetails" class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          [src]="getImage(cardetail)"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title"><i>Car Name:</i> {{cardetail.carName}}</h5>
          <h6 class="card-subtitle mb-2 text-light-muted"><i>Brand:</i> {{cardetail.brandName}}</h6>
          <h6 class="card-subtitle mb-2 text-light-muted"><i>Color:</i> {{cardetail.colorName}}</h6>
          <p class="card-text">
            <i>Daily Price: </i>{{cardetail.dailyPrice}}
          </p>
          <a href="#" class="btn" style="margin-right:10px"
            ><i class="fas fa-link"></i> Visit Rent</a
          >
          <a routerLink="/cardetails/{{cardetail.carId}}" class="btn"><i class="fab fa-github"></i> Details</a>
        </div>
      </div>
    </div>
  </div>
</div>
