:root {
  --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
}

body {
  background: #111 !important;
}

.card {
  background: #222;
  border: 1px solid #dd2476;
  color: rgba(250, 250, 250, 0.8);
  margin-bottom: 2rem;
}


.btn {
  border: 5px solid #dd2476;
  -webkit-text-fill-color: #dd2476 !important;
  border-image-slice: 1;
  background: var(--gradient) !important;
  -webkit-background-clip: text !important; /* Chrome, Safari, Opera */
  -moz-background-clip: text !important; /* Firefox */
  background-clip: text !important; /* Standard */
  border-image-source: var(--gradient) !important; 
  text-decoration: none;
  transition: all .4s ease;
}

.btn:hover, .btn:focus {
  background: var(--gradient) !important;
  -webkit-background-clip: none !important; /* Chrome, Safari, Opera */
  -moz-background-clip: none !important; /* Firefox */
  background-clip: none !important; /* Standard */
  -webkit-text-fill-color: #fff !important;
  border: 5px solid #fff !important; 
  box-shadow: #222 1px 0 10px;
  text-decoration: underline;
}

.text-light-muted {
  color: rgba(253, 239, 239, 0.6); /* Siyah rengin %60 opaklığı */
}

img{
  width:286px;
  height:180px;
}